body {
  margin: 0;
}

h1, div, p, button, a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
  font-size: 64px;
  text-align: center;
  background-color: #3b855c;
  margin: 0;
  padding: 30px 0;
}

.center {
  text-align: center;
}

.link {
  color: #3b855c;
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 20px;
}

strong, a {
  color: #3b855c;
}

#forest-size, #logs {
  font-size: 18px;
  text-align: center;
}

#rate {
  font-size: 24px;
  text-align: center;
}

#market-container, #tools-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.market-item, .tool-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 15px;
}

.market-item-img, .tool-item-img {
  min-width: 200px;
  width: 20vw;
}

.market-item p, .tool-item p {
  text-align: center;
  margin: 0;
}

.market-item-name, .tool-item-name {
  font-size: 30px;
  font-weight: 800;
}

.market-item-price {
  font-size: 24px;
  font-weight: 600;
}

.market-item button, .tool-item button {
  width: 70%;
}

#img-container {
  margin: 40px 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.home-img {
  width: 20vw;
  min-width: 200px;
}

#btn-connect {
  width: 60vw;
  font-size: 64px !important;
  height: 100px;
  padding: 20px;
  margin: 30px 20vw !important;
}

.market-item button, .tool-item button, #btn-sell, #btn-connect {
  color: white;
  margin: 10px 0;
  border: 3px solid black;
  background-color: #3b855c;
  font-size: 24px;
  font-weight: 800;
  border-radius: 999px;
  padding: 5px;
  cursor: pointer;
}

#btn-sell {
  width: 40vw;
  height: 80px;
  margin: 20px 30vw;
}

.market-item button:not(:active):hover, #btn-sell:not(:active):not(:disabled):hover, .tool-item button:not(:active):not(:disabled):hover, #btn-connect:not(:active):not(:disabled):hover {
  background-color: #4ba774;
}

.tool-item button:disabled, #btn-sell:disabled {
  cursor: default;
  opacity: 0.5;
}